/*==================================================*/
/* === CORES PRINCIPAIS DO SITE LIGHT/DARK MODE === */
/*==================================================*/
:root {
 --cor-azul-turquesa: #4a67df;
  --cor-verde-agua: #2fd6cb;
  --cor-cinza-claro: #31414e;
  --cor-cinza: #26333d;
  --cor-branco-claro: #e9f0ef;
  --cor-branca: #ffffff;
}

/*======================*/
/* === LOGO DO SITE === */
/*======================*/
/* light mode */
.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.281);
  margin: 30px;
}

/*===================================*/
/* === CORPO E ESTRUTURA DO SITE === */
/*===================================*/
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(50deg, var(--cor-azul-turquesa), var(--cor-verde-agua));
}

.login-container {
  background: var(--cor-branco-claro);
  padding: 50px 40px 80px;
  border-radius: 30px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  border: 6px solid #26333d1b;
  width: 90%;
  max-width: 380px;
  text-align: center;
}

.login-container-abaixo {
  background: var(--cor-branco-claro);
  padding: 20px 0px;
  border-radius: 30px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  border: 6px solid #26333d1b;
  width: 90%;
  max-width: 380px;
  margin-top: 20px;
}


.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 90%;
  padding: 15px 20px;
  margin: 15px 0;
  border: 3px solid transparent;
  background-image: linear-gradient(to left, var(--cor-verde-agua), var(--cor-verde-agua)),
    linear-gradient(to left, #0000005d, var(--cor-branca));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  font-size: 15px;
  transition: border 0.3s;
}

.input-field::placeholder {
  color: var(--cor-branca);
}

.input-field:focus {
  outline: none;
  border-color: var(--cor-verde-agua);
  box-shadow: 0 0 8px rgba(47, 214, 203, 0.2);
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 10px 0 50px;
  color: var(--cor-cinza);
}

.options a {
  color: #31414e55;
  cursor: pointer;
  font-style: italic;
}

.options a:hover {
  color: var(--cor-azul-turquesa);
  font-weight: bold;
}

.btn-login,
.btn-recuperar {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  color: var(--cor-branca);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(45deg, var(--cor-azul-turquesa), var(--cor-verde-agua));
}

.btn-login:hover,
.btn-recuperar:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(74, 103, 223, 0.3);
}

.login-link {
  margin-top: 20px;
  color: var(--cor-azul-turquesa);
  font-size: 14px;
  font-style: italic;
}

.login-link a {
  color: var(--cor-azul-turquesa);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

a {
  cursor: pointer;
}